*{
	font-family: Arial, helvetica;
	margin:0px;
	box-sizing: border-box;
}
body{
	background-color: #181407;
}
/*Estilos de NavBar*/
nav{
	top:0px;
	position: fixed;
	background: #ca3c25;
	width: 100%;
	height: 70px;
	padding-left: 100px;
}
a{
	display: inline-block;
	color: #F2F2F2;
}
nav a{
	margin: 20px;
}
a:hover{
	color: #FFFFFF;
}
/*Estilos de la section Pandas-fotos*/
#pandas{
	width: 100%;
	margin-top: 100px;
	padding-left: 10%;
}
.div-contenedor{
	position: relative;
	display: inline-block;
	width: 18%;
	height: 200px;
	margin-right: 20px;
}
.div-contenedor img{
	position: absolute;
	width:100%;
	height: 100%;
	border: 10px solid grey;
}
.div-contenedor button{
	position: absolute;
	background: none;
	border: none;
	color: white;
	top:15px;
	left: 15px;
}
/*Etilos del contenido*/
#contenido-btn{
	margin-top: 20px;
	padding-left: 10%;
}
.contenedor-btns a{
	text-decoration: none;
	background: #ca3c25;
	width: 25%;
	padding: 5px;
	text-align: center;
}
.div-texto{
	display: inline-block;
	color: #F7F8E0;
	width: 35%;
	text-align: justify;
	margin-right: 25px;
}
#contenido-texto{
	margin-top: 50px;
	padding-left: 10%;
}
.show{
	display: none;
}